# No upload size limits (private server)
php_value upload_max_filesize 0
php_value post_max_size 0
php_value max_execution_time 0
php_value max_input_time -1

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
